*.pyc
terminal/zdotdir/.zcompdump
terminal/zdotdir/.zsh_history
terminal/zdotdir/.zsh_history.color
terminal/zdotdir/.zcompcache
terminal/zdotdir/.zcompdump.zwc
terminal/zdotdir/.chpwd-recent-dirs
terminal/zdotdir/ignore*
micromamba/bin
micromamba/envs
micromamba/pkgs