*.pyc
zsh/zdotdir/.zcompdump
zsh/zdotdir/.zsh_history
zsh/zdotdir/.zsh_history.color
zsh/zdotdir/.zcompcache
zsh/zdotdir/.zcompdump.zwc
zsh/zdotdir/.chpwd-recent-dirs
zsh/zdotdir/ignore*
micromamba/bin
micromamba/envs
micromamba/pkgs
xdg_config_home/git/ignore.inc
xdg_config_home/htop
xdg_config_home/btop/btop.log
xdg_config_home/tmux/plugins
