[submodule "vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "terminal/dircolors-solarized"]
	path = terminal/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "terminal/fzf"]
	path = terminal/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "clion/clion_settings"]
	path = clion/clion_settings
	url = https://github.com/quicknir/clion_settings
[submodule "tmux"]
	path = tmux
	url = git@github.com:quicknir/tmux
[submodule "terminal/fzf-tab"]
	path = terminal/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab
[submodule "terminal/fast-syntax-highlighting"]
	path = terminal/fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting.git
[submodule "terminal/powerlevel10k"]
	path = terminal/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "terminal/nvim/pack/plugins/start/vim-surround"]
	path = terminal/nvim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
