*.pyc
terminal/zdotdir/.zcompdump
terminal/zdotdir/.zsh_history
terminal/zdotdir/.zsh_history.color
terminal/zdotdir/.zcompcache
terminal/zdotdir/.zcompdump.zwc
terminal/zdotdir/.chpwd-recent-dirs
terminal/zdotdir/ignore*
micromamba/bin
micromamba/envs
micromamba/pkgs
xdg_config_home/git/ignore.inc
xdg_config_home/htop
xdg_config_home/btop/btop.log
xdg_config_home/tmux/plugins
