[submodule "terminal/dircolors-solarized"]
	path = terminal/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "terminal/fzf-tab"]
	path = terminal/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "terminal/fast-syntax-highlighting"]
	path = terminal/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "terminal/powerlevel10k"]
	path = terminal/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "terminal/nvim/pack/plugins/start/vim-surround"]
	path = xdg_config_home/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "terminal/zsh-autosuggestions"]
	path = terminal/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "tmux/extrakto"]
	path = tmux/extrakto
	url = https://github.com/laktak/extrakto.git
[submodule "tmux/oh-my-tmux"]
	path = tmux/oh-my-tmux
	url = git@github.com:quicknir/oh-my-tmux.git
